@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Utility Classes */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-primary {
  background: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-animation:hover {
  transform: scale(1.05);
}

.text-primary {
  color: #4e47ff;
}
.text-dark {
  color: #252432;
}
.text-dark-2 {
  color: #25243280;
}

.sec-m {
  margin: 60px 0px;
}

/* Navbar Styling */
.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.nav-contents .logo {
  font-size: 34px;
  font-weight: 900;
}

/* Header Styling */
.header {
  background: url("../assets/Hero-bg.png");
}
.header-contents {
  max-width: 900px;
  margin: 0px auto;
  padding: 160px 0;
  text-align: center;
}

.header-contents h1 {
  font-size: 65px;
  font-weight: 700;
}

.header-contents button {
  margin-top: 40px;
}

/* Action Section Styling */
.action-sec {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-contents {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.action-contents h4 {
  font-size: 42px;
  font-weight: 700;
}

.action-contents p {
  font-size: 24px;
  line-height: 30px;
}

.action-img {
  border-radius: 50px;
  width: 400px;
  height: 330px;
  overflow: hidden;
}

.action-img img {
  max-width: 100%;
  height: auto;
}
