@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Utility Classes */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #f5f8ff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-primary {
  background: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-animation:hover {
  transform: scale(1.05);
}

.text-primary {
  color: #4e47ff;
}
.text-dark {
  color: #252432;
}
.text-dark-2 {
  color: #25243280;
}

.sec-m {
  margin: 120px 0px;
}

/* Navbar Styling */
.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.nav-contents .logo {
  font-size: 34px;
  font-weight: 900;
}

/* Header Styling */
.header {
  background: url("../images/Hero-bg.png");
}
.header-contents {
  max-width: 900px;
  margin: 0px auto;
  padding: 160px 0;
  text-align: center;
}

.header-contents h1 {
  font-size: 65px;
  font-weight: 700;
}

.header-contents button {
  margin-top: 40px;
}

/* Action Section Styling */
.action-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-contents {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.action-contents h4 {
  font-size: 42px;
  font-weight: 700;
}

.action-contents p {
  font-size: 24px;
  line-height: 30px;
}

.action-img img {
  border-radius: 50px;
  width: 400px;
  height: 330px;
}

.action-img img {
  max-width: 100%;
  height: auto;
}

/* Productive Section Styling */
.productive-sec {
  background: #4d47ff1e;
  padding: 50px 80px;
  border-radius: 10px;
  text-align: center;
}

.productive-sec h3 {
  font-size: 38px;
  font-weight: 700;
}

.pro-contents {
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.pro-info-box h4 {
  font-size: 80px;
  font-weight: 700;
}

.pro-info-box p {
  font-size: 20px;
  margin-top: 5px;
}

/* Users Feedback Styling */
.user-feedback-sec h3 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.stars {
  display: flex;
  gap: 5px;
}

.feedback-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.feedback {
  background: #ffffff7a;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #f2eded;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feedback-text-content h4 {
  font-size: 24px;
  font-weight: 700;
}
.feedback-text-content p {
  font-size: 16px;
  margin-top: 8px;
  line-height: 22px;
}
.reviewer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviewer img {
  border-radius: 100%;
}

.reviewer-info h5 {
  font-size: 16px;
  color: #757575;
  font-weight: 600;
}

.reviewer-info p {
  font-size: 16px;
  color: #b3b3b3;
  font-weight: 400;
}

/* Focus Section Styling */
.focus-sec {
  padding: 70px 150px;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
}

.focus-head-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.focus-head-content h3 {
  font-size: 50px;
  font-weight: 700;
}

.focus-head-content p {
  font-size: 16px;
  color: #00000079;
}

.focus-banner img {
  margin-top: 20px;
  border-radius: 48px;
}

/* Get in touch styling */
.getin-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.getin-sec h2 {
  font-size: 97px;
  font-weight: 800;
  max-width: 530px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.form .input-box label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form .input-box input,
.form .input-box textarea {
  width: 100%;
  padding: 20px 32px;
  border: 1px solid #d6dded;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}

.form .input-box input::placeholder,
.form .input-box textarea::placeholder {
  font-size: 20px;
  color: #0000006e;
}

.form .input-box textarea {
  height: 135px;
}

/* Footer Styling */
.footer {
  padding: 120px 0;
  background: #ffffff;
  text-align: center;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 530px;
  margin: 0 auto;
}

.footer-contents h2 {
  font-size: 100px;
  font-weight: 900;
}

.footer-contents p {
  color: #8987a1;
  font-size: 16px;
}

.footer-contents ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 10px;
}

.footer-contents ul li a {
  color: #8987a1;
}
